# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="8080"            # The port your server will listen on
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

USB_PORT_ADDRESS='COM5' # USB port address which is connected to the arduino receiver board
BAUD_RATE=9600 # Baud rate configured on the arduino receiver board serial interface

# list of HTTP PUT webhook URLs to send data to home assistant server and trigger events

HA_WEBHOOK_BASE_URL="http://192.168.0.150:8123/api/webhook"
HA_WEBHOOK_ID_NOTIFICATIONS="-zQfXDTZs_rwg5eLpbUV8MPRH"
HA_WEBHOOK_ID_GARAGE_DATA="-0ZYEAalXupdVVdMzEABWUU7f"